<footer class="bs-docs-footer">
    <div class="container">
      <div class="row footer-bottom"  style="margin: 0; padding: 0;" >
      	<div class="text-center" style="line-height: 30px;">
		    <a href="http://www.sumoon.top/" target="_blank">&copy;&nbsp;奈何师兄博客</a>
		    <a href="https://github.com/sumoonyoko" target="_blank">
		        <i class="fa fa-fw fa-github" style="font-size: 16px;"></i>GitHub</a>
		</div>
        <ul class="list-inline text-center"  style="margin: 0; padding: 0;" >
          <li><a href="http://www.miibeian.gov.cn/" target="_blank">©2018 sensuso/sumoon 使用本站前必读 意见反馈 陕ICP备17006571号-3 </a></li>
          <li><a href="http://www.miibeian.gov.cn/" target="_blank">京公网安备C20180928-0399号 </a></li>
        </ul>
      </div>
    </div>
  </footer>

