<header>
<div style="height:50px;">
 <nav class="navbar navbar-default navbar-fixed-top navbar-inverse ">
   <div class="container">
       <div class="navbar-header">
        	<a class="navbar-brand" href="/">王者荣耀の巅峰明月战队官网</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
               <li><a href="/">主页</a></li>
               <li><a href="/album/index">上传图片</a></li>
               <li><a href="/album/admin">图片管理</a></li>
               <li><a href="/talk/index">聊天室</a></li>
               <li><a href="/room/index">组队</a></li>
               <li><a href="http://www.sumoon.top">solo博客</a>
<!--           <li class="active"><a href="index.html">上传图片</a></li> -->
               </li>
           </ul>
           <ul class="nav navbar-nav navbar-right navbar-inverse">
               <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">控制面板 <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a href="#">主题设置</a></li>
                       <li><a href="#">语言设置</a></li>
                       <li><a href="/album/oss">oss</a></li>
                       <li><a href="/album/timeline">timeline</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">更多功能,内测中</a>
                       </li>
                   </ul>
               </li>
               <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">欢迎：sumoon <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a href="#">个人资料-开发中</a>
                       </li>
                       <li><a href="#">修改密码-开发中</a>
                       </li>
                   </ul>
               </li>
               <li><a href="#">退出</a>
               </li>
           </ul>
       </div>
   </div>
 </nav>
 </div>
</header>
