<header>
<div style="height:50px;background:url('//game.gtimg.cn/images/yxzj/web201605/top_banner/bg_wrapper2.jpg')">
 <nav class="navbar navbar-default navbar-fixed-top navbar-inverse ">
   <div class="container">
       <div class="navbar-header">
        	<a class="navbar-brand" href="/">王者荣耀の巅峰明月战队官网</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
               <li><a href="/">主页</a></li>
               <li><a href="/album/admin">战绩图床</a></li>
               <li><a href="/xchat/index">聊天室</a></li>
               <li><a href="http://www.sumoon.top">队长博客</a>
               </li>
           </ul>
           <ul class="nav navbar-nav navbar-right navbar-inverse">
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">控制面板 <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a href="#">主题设置</a></li>
                       <li><a href="#">语言设置</a></li>
                       <li><a href="/album/index">战绩上传</a></li>
<!--                        <li><a href="/album/oss">oss</a></li>
                       <li><a href="/album/timeline">timeline</a></li> -->
                       <li role="separator" class="divider"></li>
                       <li><a href="#">---友链---</a></li>
                        <li><a href="http://tiangou.p00q.cn/">每日一篇舔狗日记</a> </li>
                        <li><a href="http://www.nows.fun">每日一碗毒鸡汤</a> </li>
                        <li><a href="http://pic.ziweidan.com/">每日一张美女图</a> </li>
                        <li><a href="http://fm987.robinwu.com">每日一首歌曲</a> </li>
                   </ul>
               </li>
               <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">欢迎：sumoon <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a href="#">个人资料-开发中</a>
                       </li>
                       <li><a href="#">修改密码-开发中</a>                       
                       </li>
                   </ul>
               </li>
               <li><a href="#">退出</a>
               </li>
           </ul>
       </div>
   </div>
 </nav>
 </div>
</header>
