<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.honorcloud.code.dao.UserDao">

	<select id="getOpenid" resultType="org.honorcloud.code.entity.User"
		parameterType="org.honorcloud.code.entity.User">
		select * from hh where openid = #{openid}
	</select>
	<insert id="insertQQ" parameterType="org.honorcloud.code.entity.User">
		insert into hh(uid, openid, name, image) values(#{uid}, #{openid}, #{name},
		#{image})
	</insert>
	<update id="updateQQ" parameterType="org.honorcloud.code.entity.User">
		update hh set name = #{name}, image = #{image} where openid = #{openid}
	</update>

</mapper>
