<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>战队聊天室</title>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./css/style.css?v=1.2">
<link
	href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link href="../album/css/bootstrap.css" rel="stylesheet">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="../album/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../album/css/ymq/admin.css">
<link href="../album/css/ymq/footer.css" media="all" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="./js/xechat.js"></script>
</head>

<body>
	<audio id="beep" src="./sounds/qq.mp3"></audio>
	<header th:replace="base/header.html"></header>
	<div class="container kv-main">
		<div id="login">
			<div>
				<h3 class="text-center">巅峰明月</h3>
			</div>
			<div class="login_fm">
				<form>
					<div class="login_avatar dropdown">
						<img src="./images/avatar/0.jpeg" id="avatarList"
							data-toggle="dropdown" />
						<div class="dropdown-menu avatar_list_div"
							aria-labelledby="avatarList"></div>
					</div>
					<div class="login-name"></div>
					<input type="text" id="username" placeholder="请在此处输入您的昵称！"
						class="form-control">
					<button type="button" class="btn btn-primary" id="joinChat"
						data-loading-text="连接中...">
						登入&nbsp;<i class="glyphicon glyphicon-log-in"></i>
					</button>
					&nbsp;
					<button type="button" class="btn btn-primary" id="logout"
						style="display: none">
						注销&nbsp; <i class="glyphicon glyphicon-log-out"></i>
					</button>
				</form>
			</div>
		</div>
		<div data-role="page" id="showChat" style="display: none">
			<div class="header" style="color:white; background:url('//game.gtimg.cn/images/yxzj/web201605/top_banner/bg_wrapper2.jpg')">
				<div class="dropdown user-list">
					<i class="glyphicon glyphicon-list dropdown-toggle" id="userList"
						data-toggle="dropdown"></i>
					<ul class="dropdown-menu" role="menu" aria-labelledby="userList"
						id="onlineUserList">
					</ul>
				</div>
				<a href="#panel-left" data-iconpos="notext"
					class="col-xs-2 text-right"> </a> <a class="text-center col-xs-8"
					target="_blank">聊天室（<font color="orange" id="online_num"><img
						src="./images/loader.gif" width="15" height="15"></font>）
				</a>
				<div class="dropdown settings">
					<i class="glyphicon glyphicon-cog dropdown-toggle" id="settings"
						data-toggle="dropdown"></i>
					<ul class="dropdown-menu pull-right" role="menu"
						aria-labelledby="settings" id="settings-menu">
						<li><input type="checkbox" checked id="checkNotice" />&nbsp;<i
							class="glyphicon glyphicon-bell"></i><span>新消息通知</span></li>
						<li><input type="checkbox" checked id="checkSound" />&nbsp;<i
							class="glyphicon glyphicon-volume-up"></i><span>消息提示音</span></li>
						<li class="divider"></li>
						<li style="float: right; margin-right: 10px">
							<button type="button" class="btn btn-primary btn-xs"
								onclick="exit()">
								退出 <i class="glyphicon glyphicon-log-out dropdown-toggle"></i>
							</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="header"></div>
			<div data-role="content" class="container content" role="main">
				<div>
					<ul class="content-reply-box mg10" id="show_content">
					</ul>
				</div>
			</div>
			<div class="send_div">
				<div class="toUserList">
					<ul>
					</ul>
				</div>
				<div class="input-group div_left">
					<textarea rows="5" maxlength="200" placeholder="请在此处输入要发送的信息！"
						class="form-control" id="content" onkeyup="changeBtn()"></textarea>
					<span id="picture_btn" onclick="selectFile()"
						class="input-group-addon linear-g right_btn glyphicon
             glyphicon-picture"></span>
					<span id="send_btn" onclick="sendToChatRoom()"
						class="input-group-addon linear-g right_btn glyphicon
             glyphicon-send"
						style="display: none;"></span>
				</div>
			</div>
			<input type="file" style="display: none" id="file"
				onchange="sendImage()" />
		</div>
	</div>
	<!--Instantiate clipboard -->
 <!-- waifu-tips.js 依赖 JQuery 库 -->
    <script src="../assets/jquery.min.js?v=3.3.1"></script>
    <!-- 实现拖动效果，需引入 JQuery UI -->
    <script src="../assets/jquery-ui.min.js?v=1.12.1"></script>
    <div class="waifu" style="margin-top:200px;margin-left:20px;position: fixed; bottom: 5px;font-size: 16px; line-height: 20px; z-index:100px;">
        <div class="waifu-tips"></div>
        <canvas id="live2d" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>
    <script src="../assets/waifu-tips.min.js?v=1.4.2"></script>
    <script src="../assets/live2d.min.js?v=1.0.5"></script>
    <script type="text/javascript">
        /* 可直接修改部分参数 */
        live2d_settings['modelId'] = 1;                  // 默认模型 ID
        live2d_settings['modelTexturesId'] = 87;         // 默认材质 ID
        live2d_settings['modelStorage'] = false;         // 不储存模型 ID
        live2d_settings['canCloseLive2d'] = false;       // 隐藏 关闭看板娘 按钮
        live2d_settings['canTurnToHomePage'] = false;    // 隐藏 返回首页 按钮
        live2d_settings['waifuSize'] = '300x200';        // 看板娘大小
        live2d_settings['waifuTipsSize'] = '140x50';    // 提示框大小
        live2d_settings['waifuFontSize'] = '16px';       // 提示框字体
        live2d_settings['waifuToolFont'] = '16px';       // 工具栏字体
        live2d_settings['waifuToolLine'] = '30px';       // 工具栏行高
        live2d_settings['waifuToolTop'] = '-20px';       // 工具栏顶部边距
        live2d_settings['waifuDraggable'] = 'axis-x';    // 拖拽样式
        /* 在 initModel 前添加 */
        initModel("../assets/waifu-tips.json?v=1.4.2")
    </script>
	<footer th:replace="base/comfooter.html"></footer>
</body>
</html>